In [1]:
setwd('/Users/alexis/Library/CloudStorage/OneDrive-UniversityofNorthCarolinaatChapelHill/CEMALB_DataAnalysisPM/Projects/P1009. NC ENVRIOSCAN/P1009.3. Analyses/P1009.3.9. Summary Statistics')
Output = ('/Users/alexis/Library/CloudStorage/OneDrive-UniversityofNorthCarolinaatChapelHill/CEMALB_DataAnalysisPM/Projects/P1009. NC ENVRIOSCAN/P1009.3. Analyses/P1009.3.9. Summary Statistics/Output')
cur_date = "051223"

library(readxl)
library(openxlsx)
library(tidyverse)
library(reshape2)
library(factoextra)

# reading in files
acs_df = data.frame(read_excel("Input/Imputed_ACS_Data_030923.xlsx"))
housing_df = data.frame(read_excel("Input/Imputed_Housing_Data_030923.xlsx"))

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.4.0      ✔ purrr   0.3.4
✔ tibble  3.1.8      ✔ dplyr   1.0.10
✔ tidyr   1.2.1      ✔ stringr 1.4.1
✔ readr   2.1.2      ✔ forcats 0.5.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Attaching package: ‘reshape2’


The following object is masked from ‘package:tidyr’:

    smiths


Welcome! Want to learn more? See two factoextra-related books at https://goo.gl/ve3WBa

In [2]:
head(acs_df)
head(housing_df)

  GEO_ID             Census_Tract County   Sex_Ratio Median_Age
1 14000US37001020100 201.00       Alamance 87.2      37.3
2 14000US37001020200 202.00       Alamance 78.3      31.0
3 14000US37001020300 203.00       Alamance 77.8      40.7
4 14000US37001020400 204.00       Alamance 78.1      30.5
5 14000US37001020501 205.01       Alamance 92.7      35.1
6 14000US37001020502 205.02       Alamance 99.0      32.1
  Population_Under_5 Population_Under_18 Population_Over_18 Population_Over_65
1 9.5                21.9                78.1               15.1
2 7.1                29.1                70.9               11.2
3 7.3                27.1                72.9               18.9
4 8.9                31.4                68.6               10.1
5 5.5                23.3                76.7               15.6
6 9.8                30.0                70.0                8.9
  Race_White ⋯ Some_College College_Education Employed Unemployed Employed_Male
1 61.0       ⋯ 21.1          0.9              91.61621  8.383791  94.24951
2 51.9       ⋯ 18.9         12.4              89.54774 10.452261  86.97436
3 45.2       ⋯ 22.6          4.6              93.78094  6.219059  92.69841
4 19.6       ⋯ 16.3          5.4              91.69985  8.300153  93.36493
5 76.1       ⋯  3.5          1.5              91.14707  8.852927  96.10136
6 40.7       ⋯ 10.8          5.2              89.44282 10.557185  89.64942
  Employed_Female Full_Time_Work Part_Time_Work No_Work  Average_Income_Deficit
1 89.20607        43.04307       21.93988       35.01704 5016
2 92.01970        39.42970       23.56604       37.00426 4007
3 94.80990        41.09615       18.98616       39.91770 5370
4 90.64532        37.55153       28.40066       34.04782 7148
5 86.41860        45.86115       25.56742       28.57143 7403
6 89.15094        43.57167       22.82645       33.60188 5412

  GEO_ID             Census_Tract County   Total_Housing_Units Housing_Density
1 14000US37001020100 201.00       Alamance 2006                 31.54848
2 14000US37001020200 202.00       Alamance 1943                 26.03618
3 14000US37001020300 203.00       Alamance 3254                 71.60011
4 14000US37001020400 204.00       Alamance 2590                 53.47674
5 14000US37001020501 205.01       Alamance 1435                122.03583
6 14000US37001020502 205.02       Alamance 1484                471.34609
  Total_Occupied_Housing_Units Total_Owner_Occupied_Housing_Units
1 1757                          851
2 1675                          881
3 2930                         2015
4 2327                         1510
5 1280                          990
6 1275                          666
  Median_Year_Structure_Built Owner_Occupied_Housing_Units_Less_than_HPI
1 1949                         824
2 1961                         881
3 1971                        1980
4 1974                        1487
5 1973                         932
6 1980                         666
  Median_House_Value Median_Gross_Rent
1 149600             614
2  83400             609
3  91500             763
4  96900             659
5 137400             584
6  73500             672
  Median_Gross_Rent_Percentage_of_Household_Income
1 27.9
2 31.5
3 37.7
4 34.3
5 46.7
6 35.9

In [3]:
# selecting variables we're interested in
ejscreen_indicators = c("Population_Over_65", "Race_Non_White", "Hispanic_Latino", "Population_Under_5",
                          "Non_Proficient_English_Speakers", "Poverty_Overall", "Less_than_High_School", 
                        "Unemployed")
housing_indicators = c("Housing_Density", "Median_House_Value")

# changing the df from a wide to long format 
longer_acs_df = pivot_longer(acs_df, cols = 4:45, names_to = "Variables", values_to = "Value") %>%
    filter(Variables %in% ejscreen_indicators)
longer_housing_df = housing_df %>%
                                 pivot_longer(cols = c(4:12), names_to = "Variables", values_to = "Value") %>%
    filter(Variables %in% housing_indicators)

longer_df = rbind(longer_acs_df, longer_housing_df)
head(longer_df)

  GEO_ID             Census_Tract County   Variables
1 14000US37001020100 201          Alamance Population_Under_5
2 14000US37001020100 201          Alamance Population_Over_65
3 14000US37001020100 201          Alamance Race_Non_White
4 14000US37001020100 201          Alamance Hispanic_Latino
5 14000US37001020100 201          Alamance Non_Proficient_English_Speakers
6 14000US37001020100 201          Alamance Poverty_Overall
  Value
1  9.5
2 15.1
3 39.0
4  9.5
5  3.9
6 27.2

In [4]:
# taking mean, sd, 95th and 5th percentile
summary_df = longer_df %>%
    group_by(Variables) %>%
    summarize(Mean = mean(Value), SD = sd(Value), Percentile_5 = quantile(Value, 0.05),
              Percentile_95 = quantile(Value, 0.95))

summary_df

   Variables                       Mean         SD           Percentile_5
1  Hispanic_Latino                 9.096498e+00 8.492021e+00     0.70000
2  Housing_Density                 6.428423e+02 1.051901e+03    15.24503
3  Less_than_High_School           2.620213e+01 1.737307e+01     0.00000
4  Median_House_Value              1.704221e+05 1.065931e+05 73100.00000
5  Non_Proficient_English_Speakers 4.414700e+00 5.153353e+00     0.00000
6  Population_Over_65              1.667825e+01 7.576720e+00     6.30000
7  Population_Under_5              5.745899e+00 2.580037e+00     2.20000
8  Poverty_Overall                 1.581086e+01 1.060306e+01     2.80000
9  Race_Non_White                  3.118742e+01 2.356562e+01     3.44500
10 Unemployed                      5.979745e+00 4.524065e+00     1.24677
   Percentile_95
1      26.15500
2    2527.15077
3      55.40000
4  398560.00000
5      14.30000
6      29.50000
7      10.00000
8      36.45500
9      78.72000
10     13.37891

In [5]:
# exporting results
write.xlsx(summary_df, paste0(Output,"/", "Variable_Summary_Statistics", cur_date, ".xlsx"), rowNames = FALSE)